body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
nav {
    height: 90px;
    width: 100%;
    background: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-image: url('../img/metal_font.jpg');
    font-family: 'Lato', sans-serif;
    border-bottom: 3px rgb(184, 36, 67) inset;
}
h1 {
    color: rgb(184, 36, 67);
    width: 200px;
    margin-left: 20px;
    font-size: 2em;
    font-family: Impact, fantasy;

}
.barMidle {
    max-width: 70%;
}
.navbar {
    display: flex;
    flex-direction: row;
}
.navbar li {
    margin-right: 10px;
    list-style: none;
}
.navbar li a{
    color: rgb(184, 36, 67);
    text-decoration: none;
}
.navbar li a:hover {

    margin-bottom: 2px;
    border-bottom: 1px rgb(184, 36, 67) solid;
}
.content {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    align-content: center;
    background-image: url('../img/music.jpg');


}


.hidden {
  visibility: hidden;
}

table {
  margin-top: 100px;
  border-collapse: collapse;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
table th {
  font-size: 1.2em;
}
table td {
  width: 80px;
}
table td, table th {
  border: 2px rgb(15, 143, 231) solid;

  padding-right: 5px;
  text-align: center;
}
h2 {
  color: white;
}
form {
  color: white;
  
  display: flex;
}
form div {
  width: 70px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input, select {
  color: white;
  width: 80px;
  background: rgb(28, 89, 192);
  border-radius: 25px 25px 25px 25px;
  text-align: center;
}
.mini {
  width: 30px!important;
}
.mini input {
  width: 25px;
}
.noBorder {
    border: none;
    padding-left: 15px;
}
